::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .mapSidebar {
    background-color: rgb(35, 55, 75);
    font-family: monospace;
    position: absolute;
    color: aliceblue;
    width: 100% !important;
    height: 30vh !important;
    z-index: 9999;
    top: inherit !important;
    bottom: 0px !important;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .btn-circle {
    top: 10vh !important;
    right: 0 !important;
    position: absolute;
    z-index: 9999;
    text-align: center;
  }
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.MapThemeSelector {
  color: #252525 !important;
}

.IconHelper {
  font-size: 2rem;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  top: 10vh;
  left: 100vw;
}
.mapSidebar {
  background-color: rgb(35, 55, 75);
  font-family: monospace;
  position: absolute;
  color: aliceblue;
  width: 20vw;
  height: 55vh;
  top: 10vh;
  right: 0;
  z-index: 9999;
  bottom: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.small_map {
  height: 300px;
}

.btn-circle {
  top: 85vh;
  right: 10vh;
  position: absolute;
  z-index: 9999;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAP BOX CSS NOT REQUIRED ANY MORE */
/* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 10;
  position: absolute;
  float: right;
  top: 60px;
  left: 5px;
  margin: 12px;
  border-radius: 4px;
}
.map-container {
  height: 100vh;
} */
