::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  top: 10vh;
  left: 100vw;
}
.mapSidebar {
  background-color: rgb(35, 55, 75);
  font-family: monospace;
  position: absolute;
  color: aliceblue;
  width: 20vw;
  height: 55vh;
  top: 10vh;
  right: 0;
  z-index: 9999;
  bottom: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* MAP BOX CSS NOT REQUIRED ANY MORE */
/* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 10;
  position: absolute;
  float: right;
  top: 60px;
  left: 5px;
  margin: 12px;
  border-radius: 4px;
}
.map-container {
  height: 100vh;
} */
